.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/* lg */ 
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
    :root {
        font-size: 14px;
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
    :root {
        font-size: 13px;
    }
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
    :root {
        font-size: 11px;
    }
}

/* xs */ 
@media (max-width: 475px) {
    .container {
        max-width: 100%;
    }
    :root {
        font-size: 10px;
    }
}

:root {
    --hero-height: 94dvh;
}

@media screen and (max-height: 750px) {
    :root {
        --hero-height: 92dvh;
    }
}

:root {
    --text-red: #F42121;
    --title-red: #e03e3e;
    --img-stroke: #C54D4D;
    --hero-white: #DCDCDC;
    --grey-text: #414141;
}

body {
    background-image: linear-gradient(#353434, #0F0F0F);
    margin: 0;
    padding: 0;
    height: 100dvh;
}

body::-webkit-scrollbar {
    display: none;
}

a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}

.nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 1;
    top: 8px;
}

.nav-links {
    display: flex;
    font-size: 0.85rem;
    gap: 2rem;
}

/*.header-logo {

}*/

.resume-button {
    background-color: #00000000;
    color: white;
    font-size: 0.85rem;
    border-radius: 5px;
    width: 5.5rem;
    height: 1.8rem;
    margin-top: 8.5px;
}

.resume-button:hover {
    background-image: linear-gradient(var(--title-red), var(--img-stroke));
}

.hero {
    display: flex;
    justify-content: space-between;
    animation-name: hero-bounce;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
    animation-direction: alternate;
    height: var(--hero-height);
}   

@keyframes hero-bounce {
    from { height: var(--hero-height) }
    to { height: 89dvh }
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-end;
}

.hero-info.right {
    align-self: flex-end;
    margin-right: 0.125rem;
}

.hero-icon {
    color: var(--hero-white);
    font-size: 1.438rem;
}

.hero-icon:hover {
    color: #969494;
}

.hero-line {
    border-left: 1px solid var(--hero-white);
    height: 9.6dvh;
    width: 0;
    margin-top: 15px;
    align-self: center;
}

.hero-email
{
    color: var(--hero-white);
    writing-mode: vertical-rl;
    font-size: 0.813rem;
    margin: 0px;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text-name {
    color: white;
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 0.125rem;
}

.hero-text-title {
    width: 0;
    color: var(--title-red);
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
    overflow: hidden;
    border-right: 3px solid var(--title-red);
    white-space: nowrap;
    margin-right: auto;
    animation: 
        typing 3s steps(40, end) 2s forwards,
        blink-cursor .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 90% }
}

@keyframes blink-cursor {
    from, to { border-color: transparent }
    50% { border-color: var(--title-red); }
}

.hero-text-info {
    color: var(--hero-white);
    font-size: 1rem;
    width: 25.938rem;
    font-weight: bold;
}

.hero-img-container {
    border: 7px solid transparent;
    background: linear-gradient(var(--img-stroke), var(--title-red)) border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 18.125rem;
    height: 18.125rem;
}

.hero-img {
    border-radius: 50%;
    width: 18.125rem;
    height: 18.125rem;
}

#experience {
    max-width: 100vw;
    height: 100dvh;
    background: linear-gradient(var(--title-red), var(--img-stroke));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

.experience-items {
    height: 75dvh;
    display: flex;
}

.experience-lines {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 9.7rem;
}

.experience-lines-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0;
}

.experience-lines-text {
    font-size: 0.92rem;
    padding-left: 0.188rem;
    font-weight: bold;
    color: #292929;
}

.experience-line {
    border-bottom: 0.125em solid var(--hero-white);
    width: 8dvw;
    height: 0;
    margin-top: 0px;
    align-self: flex-start;
}

.experience-line-circle {
    position: relative;
    top: -0.72rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--hero-white);
    border-radius: 1.5rem;
}

.experience-line-circle:hover {
    background-color: var(--grey-text);
}

.experience-line-circle-animation {
    animation-name: experience-selected-flash;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes experience-selected-flash {
    from { background-color: var(--hero-white); }
    to { background-color: #353434; }
}

.experience-text {
    margin-top: 3dvh;
    width: 40.625rem;
}

.experience-title {
    font-size: 2.25rem;
    color: white;
    font-weight: bold;
    margin-bottom: 3dvh;
}

.experience-job-info {
    font-size: 1.5rem;
    color: #3f3636;
    font-weight: bold;
}

.experience-list {
    padding-left: 0;
}

.experience-bullets {
    font-size: 1rem;
    color: var(--hero-white);
    list-style-type: "- ";
}

.experience-photos {
    align-self: center;
    border-radius: 1.5dvh;
    display: flex;
    flex-wrap: wrap;
    padding: 1.875rem;
    gap: 1.563rem;
    justify-content: center;
}

.experience-job-details {
    display: flex;
    width: 75vw;
    justify-content: space-between;
    gap: 10dvw;
}

#projects {
    max-width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    background-image: linear-gradient(#353434, #0F0F0F);
}

.projects-items {
    width: 94dvw;
    height: 90dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-line.project {
    border-bottom: var(--title-red) 1px solid;
    width: 5dvw;
}

.experience-line-circle.project {
    background-color: var(--img-stroke);
}

.experience-line-circle.project:hover {
    background-color: var(--hero-white);
}

.experience-line-circle.project.animation {
    animation-name: projects-selected-flash;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes projects-selected-flash {
    from { background-color: var(--img-stroke); }
    to { background-color: var(--hero-white); }
}

.experience-lines-text.project {
    color: white;
    font-size: 0.938rem;
}

.projects-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1dvw;
}

.experience-lines.project {
    margin-right: 9dvw;
}


.projects-box {
    height: 30rem;
    width: 65rem;
    background: linear-gradient(var(--img-stroke), var(--title-red));
    border-radius: 0.625rem;
    display: flex;
}

.projects-title {
    font-size: 2.25em;
    color: white;
    font-weight: bold;
    align-self: flex-start;
}

.projects-info-circles {
    display: flex;
    gap: 1dvw;
}

.projects-info-circle {
    width: 2rem;
    height: 2rem;
    background-color: var(--img-stroke);
    border-radius: 2rem;
}

.projects-info-circle:hover {
    background-color: var(--hero-white);
}

.projects-info-circle.animation {
    animation-name: projects-selected-flash;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.projects-info-hover-text {
    color: var(--hero-white);
    height: 2dvh;
}

.projects-list {
    padding-left: 3dvw;
    padding-right: 3dvw;
    padding-top: 0.7dvw;
    padding-bottom: 0.7dvw;
    width: 50dvw;
}

.projects-info-box-format {
    width: 50dvw;
    display: flex;
    flex-direction: column;
}

.projects-info-box-title {
    text-align: center;
    color: white;
    font-size: 1.8rem;
    margin-bottom: 1dvw;
    font-weight: bold;
}

.projects-repo:hover {
    color: var(--hero-white);
}

.blog-contact {
    max-width: 100dvw;
    height: 100dvh;
    background-image: linear-gradient(var(--title-red), var(--img-stroke));
}

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25dvh;
    margin-bottom: 1dvh;
    flex-direction: column;
    padding-top: 10dvh;
}

.blog-title {
    font-size: 2.25rem;
    font-weight: bold;
    color: white;
}

.blog-content {
    display: flex;
    justify-content:center;
    padding-top: 5dvh;
    width: 100dvw;
    height: 100dvh;
    margin-bottom: 0;
}

.blog-text {
    color: white;
    font-size: 1.2rem;
    width: 45dvw;
    margin-left: 3dvw;
    align-self: center;
}

.blog-button {
    width: 20dvw;
    margin-right: 15dvw;
    background-color: #00000000;
    border: #0F0F0F 3px solid;
    border-radius: 1dvw;
    font-size: 2rem;
    color: white;
    height: 12dvh;
}

.blog-button:hover {
    background-color: #000000A2;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 45dvh;
}

.contact-title {
    font-size: 2.25rem;
    font-weight: bold;
    color: white;
}

.contact-text {
    font-size: 1.6rem;
    color: white;
    margin-top: 5dvw;
}

.contact-content {
    display: flex;
    justify-content: center;
    margin-top: 3dvw;
    font-size: 1.35rem;
    gap: 3dvw;
    width: 100dvw;
}

.contact-linkedin {
    display: flex;
    gap: 0.85dvw;
    height: 29px;
    color: var(--hero-white);
}

.contact-linkedin:hover {
    color: var(--grey-text);
}

.contact-icon {
    align-self: center;
}

.contact-email {
    color: var(--hero-white)
}

.footer {
    height: 8dvh;
    max-width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #d1c4c4;
    gap: 0.2dvw;
}

.footer-icons {
    font-size: 1.1rem;
    display: flex;
    gap: 1dvw;
}

.footer-icon:hover {
    color: #969494;
}

.blog-title {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;
}

.blog-notice {
    font-size: 1.3rem;
    color:white;
}

.blog-notice:hover {
    color: var(--hero-white)
}

.blog-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-card {
    display: flex;
    gap: 5rem;
    color: white;
    justify-content: space-evenly;
    width: 100dvw;
    padding-left: 2rem;
    font-size: 1.3rem;
}

.article-card-info {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.article-card-info:hover {
    color: var(--hero-white)
}

.article-title:hover {
    color: var(--hero-white);
}

.article-card-description {
    font-size: 0.9rem;
    width: 40dvw;
}

.display-article-title,
.display-article-date {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}

.display-article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    width: 80dvw;
}

.display-article-content figure {
    text-align: center;
}

.display-article-content img {
    max-width: 100%;
    max-height: 100%;
}

.display-article-content pre {
    font-size: 0.8rem;
}

.display-article-back {
    margin-bottom: 1rem;
    background-color: #00000000;
    border: 1px var(--text-red) solid;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.display-article-back:hover {
    background-image: linear-gradient(var(--title-red), var(--img-stroke));;
}

.error404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    gap: 1rem;
    font-size: 1.2rem;
    color: var(--hero-white);
}

.history-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white
}


.history-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.version-card {
    display: flex;
    align-items: center;
    width: 65dvw;
    justify-content: space-between;
}

.version-title {
    font-size: 1.2rem;
}

.version-card li {
    font-size: 0.9rem;
    width: 45dvw;
}

.resume-iframe {
    width: 50dvw;
    height: 85dvh;
}

@media (max-width: 414px) {
    body {
        height: 125dvh;
        width: 100vw;
    }

    .navbar-mobile-bars {
        font-size: 4rem;
        align-self: center;
    }

    .navbar-mobile-x {
        font-size: 3rem;
        align-self: flex-end;
    }

    .navbar-mobile {
        display: flex;
        flex-direction: column;
    }
    
    .hero {
        flex-direction: column;
    }

    .hero-info {
        flex-direction: row;
        align-self: flex-start;
    }
    
    .hero-icon {
        margin-top: 12px;
        align-self: center;
        font-size: 2.2rem;
    }

    .hero-info.left {
        margin-top: 3dvh;
        flex-direction: row-reverse;
    }

    .hero-info.right {
        margin-bottom: 12dvh;
        align-items: flex-end;
    }

    .hero-text {
        margin-top: 0;
        position: relative;
        top: -10px;
    }

    .hero-line {
        border-left: 0px;
        border-top: 1px solid var(--hero-white);
        width: 15vw;
        height: 0;
    }

    .hero-email {
        writing-mode: unset;
        margin-top: 12px;
        font-size: 1.2rem;
    }

    .hero-img {
        width: 15rem;
        height: 15rem;
    }

    .hero-img-container {
        width: 15rem;
        height: 15rem;
    }

    .hero-text-title,
    .hero-text-name {
        font-size: 2.55rem;
        text-align: center;
    }

    .hero-text-info {
        font-size: 1.3rem;
        text-align: center;
    }

    @keyframes typing {
        from {width: 0}
        to {width: 100%}
    }

    #experience {
        height: 110dvh;
    }

    .experience-items {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 85dvh;
    }

    .experience-lines {
        align-self: flex-start;
    }

    .experience-lines-text {
        top: -50px;

    }

    .experience-job-details {
        flex-direction: column;
        gap: 0;
    }

    .experience-title {
        margin-bottom: 1vh;
        font-size: 2rem;
    }

    .experience-job-info {
        font-size: 1.2rem;
    }

    .experience-line {
        width: 18dvw;
    }
    
    .experience-list {
        width: 80dvw;
    }

    .experience-bullets {
        font-size: 1.3rem;
    }

    .experience-line-circle {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 4rem;
        top: -1.2rem;
    }

    #projects {
        height: 150dvh;
        justify-content: flex-start;
    }

    .projects-items {
        flex-direction: column;
        height: 70dvh;
        justify-content: center;
    }
    
    .experience-line.project {
        width: 18vw;
    }

    .projects-title {
        align-self: center;
    }

    .projects-info {
        align-self: center;
    }

    .projects-box {
        flex-direction: column;
        width: 35rem;
        height: 40rem;
        align-self: center;
    }

    .projects-list {
        width: 90dvw;
    }

    .projects-info-box-format {
        align-self: center;
    }
    
    .projects-info-circles {
        gap: 2.2vw;
    }

    .projects-info-circle {
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
    }

    .blog-button {
        width: 30dvw;
    }

    .resume-iframe {
        width: 100dvw;
        height: 100dvh;
    }

}